services:
  server:
    build: .
    container_name: eternity-server
    environment:
      - ConnectionStrings__DefaultConnection=Server=${DB_SERVER};Database=${DB_NAME};User=${DB_USER};Password=${DB_PASSWORD};
      - ASPNETCORE_ENVIRONMENT=${ASPNET_ENV:-Development}
    networks:
      - default
    restart: always

networks:
  default:
    external: true
    name: ${DOCKER_NETWORK:-default}
